body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.players {
    display: flex;
    justify-content: space-around;
}

div {
    background-color: white;
}

.title {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}