body {
    margin: 0;
    background-color: black;
}

.container {
    background-color: grey;
}

.choices, .scores, .declarewinner {
    margin: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.userchoicemessage, .computerchooses, .choices, .scores, .declarewinner {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.userchoices {
    display: flex;
    gap: 20px;
}

.title {
    font-size: 150px;
    font-weight: bold;
    color: white;
    text-align: center;
}

img {
    height: 250px;
    width: 175px;
}